/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #000000;
$link-color: 	#208edc; /*#deae1d; #187bcd; #e6ac1a*/
$presentation-heading-color: #345a8b;// #15797A; // #208edc;
$presentation-heading-text-transform: capitalize;
/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

/*-- scss:logo --*/

.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  left: unset !important;
  top: 10px;
  right: 20px;
  height: 60px !important;
  width: 80px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  left: unset !important;
  top: unset !important;
  color: #777777 !important;
}

/*-- scss:title-slide --*/

.reveal .slide.title-slide {
  text-align: center;
}

.reveal .slide.title-slide .title-slide-logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.reveal .slide.title-slide h1.title {
  font-size: 2.5em;
  margin-top: 1rem;
}

.reveal .slide.title-slide p.subtitle,
.reveal .slide.title-slide p.author,
.reveal .slide.title-slide p.date {
  margin-top: 0.5rem;
  font-size: 1.2em;
}
